mixin nav()
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        a.brand(href='/') Stativus
        .nav.pull-right
          ul.nav
            li
              a(href='/api.html') API
            li
              a(href='/guide.html') Guide
            li
              a(href='/samples.html') Samples
            li
              a(href='/apps.html') Applications
            li
              a(href='/contact.html') Contact