extends layout

block content
  .container-narrow
    .jumbotron
      h1 Welcome to Stativus!
      p.lead Stativus is a browser-independent, framework-independent micro-library that provides full statechart functionality to your web application or web page.
      h3 Features
      ul
        li Hierarchical (composite, nested) states
        li Local &amp; Global Orthogonal (concurrent) states
        li Entry, exit, and transition-action control
        li Shallow/deep history
        li Event deferral
        li Support for asynchronous transitions
        li State-local Storage
        li Runtime Statechart construction

    hr
    .row-fluid.marketing
      .span6
        h4 What is a Statechart?
        p A Statechart is a hierarchical finite state machine that is very useful in building and organizing user interfaces...
        h4 Why you should use Statecharts?
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        h4 Where do I start?
        p Maecenas sed diam eget risus varius blandit sit amet non magna. Point the user to the guide here...
      .span6
        h4 Subheading
        p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
        h4 Subheading
        p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
        h4 Issue or Bug?
        p We are always working to constantly improve Stativus, so please submit any questions, issues or bugs at the github account...